<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/index.css">
<div class="container">
    <div class="film">
      <h1>Spirited Away</h1>
      <div class="image">
            <i class="fas fa-arrow-circle-left fa-3x left-arrow"></i>
            <img id="film-img" src="https://ctl.s6img.com/society6/img/uQyomsBo97B0tEWFyoQJbLVKVgs/w_700/duvet-covers/swatch/~artwork,fw_6000,fh_6000,fy_-1256,iw_6000,ih_8512/s6-original-art-uploads/society6/uploads/misc/691320f3ed024dea98c0c014fb4b4f97/~~/spirited-away1085822-duvet-covers.jpg" alt="Spirited Away">
            <i class="fas fa-arrow-circle-right fa-3x right-arrow"></i>
      </div>
    </div>
    <div class="details">
      <ul>
        <li>Synopsis: <p>Spirited Away is an Oscar winning Japanese animated film about a ten year old girl who wanders away from her parents along a path that leads to a world ruled by strange and unusual monster-like animals. Her parents have been changed into pigs along with others inside a bathhouse full of these creatures. Will she ever see the world how it once was?</p>
        </li>
        <li>Director: Hayao Miyazaki</li>
        <li>Producer: Hayao Miyazaki</li>
        <li>Release Date:</li>
        <li>Total Grossings:</li>
        <li>RT Score:</li>
        <li>Wiki: </li>
      </ul>
    </div>
  </div>